.nx/installation
.nx/cache
.nx/workspace-data
vite.config.*.timestamp*

storybook-static

.yarn
node_modules
vitest.config.*.timestamp*
dist
# Generated SQLite seed for cold start (created by generate-seed-db)
libs/graphql-sqlite-worker/src/assets/seed.db
